.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.lContainer {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

.logoContainer {
  margin-bottom: 20px;
}

.logo {
  width: 150px; /* Sesuaikan lebarnya */
  height: auto;
  border-radius: 50%; /* Menjadikan logo berbentuk bulat */
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.lButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.lButton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.errorContainer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
  color: #721c24;
  font-size: 14px;
  animation: fadeOut 5s forwards; /* Animasi menghilang setelah 5 detik */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
